.vc-btn-secondary button {
    color: $tertiary-prime !important;
    background-color: $secondary !important;
    border: 4px solid $secondary !important;
    &:hover {
        color: $secondary !important;
        background-color: $tertiary-prime !important;
        border: 4px solid $secondary !important;
    }
}
button[aria-expanded="true"] {
  &.btn-primary {
    background-color: darken($primary, 10%);
  }
}
