/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.register-tyres-header {
  background-color: #E0E1E2;
  padding: 10px 15px;
  margin-bottom: 2em;
}