// .blue-background {
//   background: linear-gradient(40deg, transparent 0%, transparent 50%, rgba(1, 59, 130, 0.7) 10%, rgba(1, 59, 130, 0.7) 25%);
//   padding: 50px;
// }

#findtires {
  border-bottom: none;

  .nav-link.active {
    background-color: $tertiary-prime;
    color: $white;
    border-color: transparent;
  }
}

#findtiresContent {
  border: none;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  background-color: $tertiary-prime;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .contain {
    padding: 1em;
  }

  .card-header {
    padding: 0;
    background-color: $white;
    text-transform: uppercase;
    border-color: transparent;
  }

  .card:nth-type(2) {
    margin-top: 5px;
  }
}

.homepage-find-tires {
  .start-here {
    position: absolute;
    z-index: 999;
    margin-top: -30em;
    @media(max-width: 1024px) {
      margin: 0;
      position: relative;
      padding: 3em 2em;
    }
  }
}

.custom-panel {
  background-color: #f4f4f4;
  border: 1px solid #bfbfbf;
  padding: 15px;
  border-radius: 4px;
}

.dotted-panel {
  background-color: transparent;
  border: 1px dashed #bfbfbf;
  padding: 15px;
  border-radius: 4px;
}
@media(min-width: 768px) {
  .remove-padding-left {
    padding-left: 1px;
  }

  .remove-padding-right {
    padding-right: 1px;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  margin-left: 5px;
  content: "\f054";
}

.custom-sidebar {
  padding-left: 0;

  .current_page_item {
    background-color: $primary;

    a {
      color: $white;
    }
  }

  li {
    list-style: none;
    border: 1px solid $primary;
    padding: 10px 15px;
  }

  li:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  li:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.nav-tabs.full-width {
  width: 100%;
  li {
    width: 50%;
    .nav-link.active {
      border: none;
      background-color: $primary;
      color: $white;
      border-radius: 0px;
      padding: 2em;
    }
    .nav-link {
      border: none;
      background-color: darken($primary,10%);
      color: $white;
      border-radius: 0px;
      padding: 2em;
    }
  }
}

@media (max-width: 991px) {
  .hide-on-mobile {
    display: none !important;
  }
}
@media (min-width: 992px) {
  .mobile-only {
    display: none !important;
  }
}

.the-excerpt {
  a {
    display: none !important;
  }
}

.learn-tyre-label {
  background-color: $primary;
  color: $white;
  padding: 0px 15px;
}

span.badge.blue-badge {
  color: $white;
  background-color: $primary;
  padding: 5px 8px 3px;
  font-size: 15px;
  border-radius: 50%;
}

.display-children {
  .featured {
    width: 100%;
    height: 25vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    h3 {
      width: 100%;
      background-color: #0049908c;
      color: $white;
      position: absolute;
      bottom: 0;
      margin-bottom: 0px;
      transition-duration: 0.4s;
    }
  }
}

.display-children:hover {
  .featured {
    h3 {
      background-color: $primary;
      transition-duration: 0.4s;
    }
  }
}

.archive-list-featured-image {
    width: 100%;
    height: 45vh;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.hide-continued {
  a {
    display: none;
  }
}


.goodyear-accordion {
  .card-header {
    background: $primary-gradient;
    .btn-link {
      color: $white;
    }
  }
}