@import url('../fonts/stylesheet.css');

.goodyear {
  font-family: 'FSSinclairRegular';
}

.goodyear-medium {
  font-family: 'FSSinclairRegular';
}

.goodyear-bold {
  font-family: 'FSSinclairRegular';
	font-weight: 900;
}
