/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #01549F
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;


$primary: #004990;
$secondary: #FFDD00;

$secondary-prime: #366ea4;
$tertiary-prime: #013B82;

$white: #fff;
$black: #000;

$primary-gradient: linear-gradient(to right, $secondary-prime 0%, #1E518D 100%);

.primary-color {
  color: $primary;
}

.secondary-color {
  color: $secondary;
}
